# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files

*.json
*.db
*.sqlite3

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Image outputs
*.jpg
outputs/
